
flask
werkzeug
flask-cors
pandas
python-dotenv
opencv-python
tensorflow
mtcnn
keras
keras_preprocessing
numpy
librosa
sounddevice
wave
soundfile
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
